<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="org.mekonecampus.mekonecampus_dynamic_feature2">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_mekonecampus_dynamic_feature2">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

